html {
  font-family: 'Inconsolata', monospace;
}

.heading1 {
  font-size: 55px;
}

.main {
  position: absolute;
  padding: 200px 50px 50px 360px;
}

a {
  font-size: 17px;
  color: black;
  display: block;
  transition: 0.5s;
}

a:hover, .offcanvas a:focus {
  color: lightpink;
}

h5 {
  text-align: center;
}
