html {
  font-family: 'Inconsolata', monospace;
}
h1 {
  font-size: 55px;
}
.main {
  position: absolute;
  padding: 200px 50px 50px 360px;
}
.main .links a {
  font-size: 17px;
  color: black;
  display: block;
  transition: 0.5s;
}
.main a:hover, .offcanvas a:focus {
  color: lightpink;
}
h5 {
  text-align: center;
}
