html {
  font-family: 'Inconsolata', monospace;
  padding-top: 200px;
  padding-left: 400px;
}
a {
  text-decoration: none;
  transition: 0.3s;
  color: black;
}
.sidenav a:hover, .offcanvas a:focus{
    color: lightpink;
}
.sidenav a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s
    height: 100%
}
