html {
  font-family: 'Inconsolata', monospace;
}
.title {
  float: left;
  text-align: center;
  padding-top: 40%;
  padding-bottom:40%;
  padding-left: 5%;
  position: fixed;
  display: block;
}
h4 {
  font-size: 20px;
  text-align: center;
}
.content {
  float: right;
  clear: left;
  padding-left: 55%;
}
